out.out

minikernel/kernel.o
minikernel/kernel

usuario/*.o
usuario/dormilon
usuario/excep_arit
usuario/excep_mem
usuario/get_pid
usuario/init
usuario/simplon
usuario/yosoy

usuario/lib/serv.o
usuario/lib/libserv.a

/*
  Ignore swap files
*/

*.swp
*.swo
